
<h1> Add a job </h1>

<%= simple_form_for @job do |f| %>

<%= f.input :title, :label => "项目名称" %>
<%= f.input :description, :label => "项目描述" %>
<%= f.input :city, :label => "工作城市" %>
<%= f.input :company, :label => "团队名称" %>
<%= f.input :category, :collection => ["developer","healthcare", "customer-service", "sales-marketing", "legal", "non-profit", "human-resource", "design"], :selected => "developer", :label => "需求专业" %>
<!-- <%= f.input :is_hidden %> 新增的项目默认隐藏，网站管理员审核后，可以公开-->

  <%= f.submit "创建项目", :disable_with => 'Submiting...', class: "btn btn-primary" %>
<% end %>
