<% provide(:title, "项目展示") %>

<h1> <%= @job.title %> </h1>

<span class="pull-right">
  <% if current_user && current_user.is_member_of?(@job) %>
    <label class="label label-success"> 已关注 </label>
  <% else %>
    <label class="label label-warning"> 未关注 </label>
  <% end %>
</span>

<p>
  <%= simple_format(@job.description) %>
</p>

<%= link_to('<span class="glyphicon glyphicon-gift">申请加入'.html_safe,
            new_job_resume_path(@job), class: "btn btn-magick btn-lg btn3d pull-left")%>
<%= link_to('<span class="glyphicon glyphicon-cloud">发表评论'.html_safe,
          new_job_post_path(@job), class: "btn btn-info btn-lg btn3d pull-right")%>
</br>
</br>


<table class="table table-boldered table-striped custab" >
  <thead>
   <tr>
      <th>评论内容</th>
      <th>发表者</th>
      <th>发表时间</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.content %></td>
        <td><%= post.user.name %></td>
        <td><%= post.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
    <%= will_paginate @posts %>
<div class="text-center">
