
<section id="home" class="sec-main">
    <h1 class="main-heading">同舟共济扬帆起，乘风破浪万里航！</h1>
</section>

<!-- What We Offer -->

  <section id="services" class="sec-services">
    <div class="container">
      <h1>我们的特色</h1>

      <hr />

      <div class="row">
        <div class="col-sm-4">
          <i class="fa fa-4x fa fa-building"></i>

          <h2 class="h3">找项目</h2>

          <p>有技术，找不到喜欢的项目？1000+ 项目供你选择, 想你所想！赶快加入“她”！</p>
        </div>

        <div class="col-sm-4">
          <i class="fa fa-4x fa-calendar-o"></i>

          <h2 class="h3">个人秀</h2>

          <p>有话说？微博系统，随时随地发现新鲜事！分享你想表达的，让全世界都能听到你的心声。</p>
        </div>

        <div class="col-sm-4">
          <i class="fa fa-4x fa-fighter-jet"></i>

          <h2 class="h3">找伙伴</h2>

          <p>有想法，找不到合适的伙伴？遇见志同道合的伙伴，让梦想在这里起航！相信我，你并不孤独！</p>
        </div>
      </div>
    </div>
  </section>


  <!-- <section id="testimonials" class="sec-testimonials">
    <div class="container">
      <h1>Employees said</h1>

      <hr />

      <div class="row">
        <div class="col-sm-4">
          <p class="text-center">"OW offer is such amazing. I got my dream work just one week!"</p>

          <p class="text-right">&mdash; Elizabeth</p>
        </div>

        <div class="col-sm-4">
          <p class="text-center">"Are you paid fairly? Big boss know your worth? Come here, you'll got them!"</p>

          <p class="text-right">&mdash; Milly Cooper</p>
        </div>

        <div class="col-sm-4">
          <p class="text-center">"I have worked with several different people and it always seemed like a pain—luckily I found OW offer. Thanks them!"</p>

          <p class="text-right">&mdash; Jerry Lai</p>
        </div>
      </div>
    </div>
  </section> -->


  <!-- Rotating Card -->
  <section id="Rotating-Card" class="sec-card">
    <div class="container">
      <h1>优秀用户</h1>

      <hr />

        <div class="row">
         <div class="col-sm-10 col-sm-offset-1">
             <div class="col-md-4 col-sm-6">
                 <div class="card-container">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <img src="https://www.clipartsgram.com/image/129556292-kyz84k3.jpg"/>
                            </div>
                            <div class="user">
                                <img class="img-circle" src="https://www2.mmu.ac.uk/media/mmuacuk/style-assets/images/r-research/profile-Zeyad.jpg"/>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h3 class="name">John Marvel</h3>
                                    <p class="profession">CEO</p>
                                    <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                                </div>
                                <div class="card-footer">
                                    <i class="fa fa-mail-forward"></i> Auto Rotation
                                </div>
                            </div>
                        </div> <!-- end front panel -->
                        <div class="back">
                            <div class="header">
                                <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h4 class="text-center">Job Description</h4>
                                    <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>

                                    <div class="stats-container">
                                        <div class="stats">
                                            <h4>235</h4>
                                            <p>
                                                Followers
                                            </p>
                                        </div>
                                        <div class="stats">
                                            <h4>114</h4>
                                            <p>
                                                Following
                                            </p>
                                        </div>
                                        <div class="stats">
                                            <h4>35</h4>
                                            <p>
                                                Projects
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="social-links text-center">
                                    <a href="https://twitter.com/kerzzi123" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                    <a href="https://twitter.com/kerzzi123" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                    <a href="https://twitter.com/kerzzi123" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                                </div>
                            </div>
                        </div> <!-- end back panel -->
                    </div> <!-- end card -->
                </div> <!-- end card-container -->
            </div> <!-- end col sm 3 -->
    <!--         <div class="col-sm-1"></div> -->
            <div class="col-md-4 col-sm-6">
                 <div class="card-container manual-flip">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <img src="https://www.clipartsgram.com/image/124089475-california-beaches-tumblr-wallpaper-3.jpg"/>
                            </div>
                            <div class="user">
                                <img class="img-circle" src="http://www.outbrain.com/risingstars/wp-content/uploads/708x708-RS-Profile-Ashley-Callahan-400x400.jpg"/>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h3 class="name">Andrew Mike</h3>
                                    <p class="profession">Web Developer</p>
                                    <p class="text-center">"Lamborghini Mercy <br>Your chick she so thirsty <br>I'm in that two seat Lambo"</p>
                                </div>
                                <div class="card-footer">
                                    <button class="btn btn-simple" onclick="rotateCard(this)">
                                        <i class="fa fa-mail-forward"></i> Manual Rotation
                                    </button>
                                </div>
                            </div>
                        </div> <!-- end front panel -->
                        <div class="back">
                            <div class="header">
                                <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h4 class="text-center">Job Description</h4>
                                    <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>

                                    <div class="stats-container">
                                        <div class="stats">
                                            <h4>235</h4>
                                            <p>
                                                Followers
                                            </p>
                                        </div>
                                        <div class="stats">
                                            <h4>114</h4>
                                            <p>
                                                Following
                                            </p>
                                        </div>
                                        <div class="stats">
                                            <h4>35</h4>
                                            <p>
                                                Projects
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
                                    <i class="fa fa-reply"></i> Back
                                </button>
                                <div class="social-links text-center">
                                    <a href="http://kerzzi.logdown.com/" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                    <a href="http://kerzzi.logdown.com/" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                    <a href="http://kerzzi.logdown.com/" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                                </div>
                            </div>
                        </div> <!-- end back panel -->
                    </div> <!-- end card -->
                </div> <!-- end card-container -->
            </div> <!-- end col sm 3 -->
    <!--         <div class="col-sm-1"></div> -->
            <div class="col-md-4 col-sm-6">
                <div class="card-container">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <img src="http://www.hdimageson.com/wp-content/uploads/2016/05/beach-images-tumblr-300x188.jpg"/>
                            </div>
                            <div class="user">
                                <img class="img-circle" src="https://1.bp.blogspot.com/-aruLLVlXyJM/V_t-TxTncZI/AAAAAAAAJ3k/hnQKKVmKuOY_awf1nHGTsukGfw4qrde-gCLcB/s400/2.jpg"/>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h3 class="name">Inna Corman</h3>
                                    <p class="profession">Product Manager</p>

                                    <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                                </div>
                                <div class="card-footer">
                                    <div class="rating">
                                        <i class="fa fa-mail-forward"></i> Auto Rotation
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end front panel -->
                        <div class="back">
                            <div class="header">
                                <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h4 class="text-center">Job Description</h4>
                                    <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>

                                    <div class="stats-container">
                                        <div class="stats">
                                            <h4>235</h4>
                                            <p>
                                                Followers
                                            </p>
                                        </div>
                                        <div class="stats">
                                            <h4>114</h4>
                                            <p>
                                                Following
                                            </p>
                                        </div>
                                        <div class="stats">
                                            <h4>35</h4>
                                            <p>
                                                Projects
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="social-links text-center">
                                    <a href="http://kerzzi.logdown.com/" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                    <a href="http://kerzzi.logdown.com/" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                    <a href="http://kerzzi.logdown.com/" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                                </div>
                            </div>
                        </div> <!-- end back panel -->
                    </div> <!-- end card -->
                </div> <!-- end card-container -->
            </div> <!-- end col-sm-3 -->
            </div> <!-- end col-sm-10 -->
        </div> <!-- end row -->
        <div class="space-200"></div>
    </div>
  </section>



  <section id="categories">
		<div class="container">
			<h1>项目分类</h1>

      <hr />
			<div class="row">
				<div class="col-sm-6 col-md-3">
			    <div class="thumbnail">
			      <%= image_tag("developer.png") %>
			      <div class="caption">
              <h4> Developer</h4>
			      </div>
			    </div>
			  </div>

			  <div class="col-sm-6 col-md-3">
			    <div class="thumbnail">
			      <%= image_tag("customer-service.png") %>
			      <div class="caption">
			        <h4> Developer</h4>
			      </div>
			    </div>
			  </div>

			  <div class="col-sm-6 col-md-3">
			    <div class="thumbnail">
			      <%= image_tag("healthcare.png") %>
			      <div class="caption">
			        <h4> Developer</h4>
			      </div>
			    </div>
			  </div>

				<div class="col-sm-6 col-md-3">
			    <div class="thumbnail">
			      <%= image_tag("sales-marketing.png") %>
			      <div class="caption">
			        <h4> Developer</h4>
			      </div>
			    </div>
			  </div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-3">
			   <div class="thumbnail">
			      <%= image_tag("lawyer.png") %>
			      <div class="caption">
			        <h4> Developer</h4>
			      </div>
			    </div>
			  </div>

			  <div class="col-sm-6 col-md-3">
			    <div class="thumbnail">
			      <%= image_tag("non-profit.png") %>
			      <div class="caption">
			        <h4> Developer</h4>
			      </div>
			    </div>
			  </div>

			  <div class="col-sm-6 col-md-3">
			    <div class="thumbnail">
			      <%= image_tag("reunion.png") %>
			      <div class="caption">
			        <h4> Developer</h4>
			      </div>
			    </div>
			  </div>

				<div class="col-sm-6 col-md-3">
			    <div class="thumbnail">
			      <%= image_tag("design.png") %>
			      <div class="caption">
			        <h4> Developer</h4>
			      </div>
			    </div>
			  </div>
			</div>
		</div>

	</section>


  <!-- 用户体验 -->

  <section id="about" class="sec-about">
    <div class="container">
      <h1>个人秀</h1>

      <hr/>

        <div class="row">
            <div class="col-md-12" data-wow-delay="0.2s">
                <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                    <!-- Bottom Carousel Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#quote-carousel" data-slide-to="0" class="active"><img class="img-responsive " src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg" alt="">
                        </li>
                        <li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive" src="https://s3.amazonaws.com/uifaces/faces/twitter/rssems/128.jpg" alt="">
                        </li>
                        <li data-target="#quote-carousel" data-slide-to="2"><img class="img-responsive" src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg" alt="">
                        </li>
                    </ol>

                    <!-- Carousel Slides / Quotes -->
                    <div class="carousel-inner text-center">

                        <!-- Quote 1 -->
                        <div class="item active">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2">

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. !</p>
                                        <small>Someone famous</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <!-- Quote 2 -->
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2">

                                        <p>L哈哈！从没有这么高效率的组队，从发起项目，到组队，至项目完成仅用了3个月时间。在以前简直不敢想象。 </p>
                                        <small>Someone famous</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <!-- Quote 3 -->
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2">

                                        <p>青春是挽不回的水，转眼消失在指尖，用力的浪费，再用力的后悔，不要沉溺于过去，接受新的生活，新的自己，新的团队!
　　在这里，你能收获的不仅仅是高薪，还有技能、知识和家人!
　　收拾行李，寻找新的自己，加入我们吧!</p>
                                        <small>Someone famous</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                    </div>

                    <!-- Carousel Buttons Next/Prev -->
                    <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                    <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
  </section>
