
<section id="home" class="sec-main">
    <h1 class="main-heading">同舟共济扬帆起，乘风破浪万里航！</h1>
</section>

<!-- What We Offer -->

  <section id="services" class="sec-services">
    <div class="container">
      <h1>我们的特色</h1>

      <hr/>

      <div class="row">
        <div class="col-sm-4">
          <!-- <i class="fa fa-4x fa fa-building"></i> -->
          <i class="fa fa-4x fa-rocket" ></i>

          <h2 class="h3">找项目</h2>

          <p>有技术，找不到喜欢的项目？1000+ 项目供你选择, 想你所想！赶快加入“她”！</p>
        </div>

        <div class="col-sm-4">
          <i class="fa fa-4x fa-camera-retro" ></i>

          <h2 class="h3">个人秀</h2>

          <p>有话说？微博系统，随时随地发现新鲜事！分享你想表达的，让全世界都能听到你的心声。</p>
        </div>

        <div class="col-sm-4">
          <i class="fa fa-4x fa-users" ></i>

          <h2 class="h3">找伙伴</h2>

          <p>有想法，找不到合适的伙伴？遇见志同道合的伙伴，让梦想在这里起航！相信我，你并不孤独！</p>
        </div>
      </div>
    </div>
  </section>

  <!-- 优秀用户：Rotating Card -->
  <section id="Rotating-Card" class="sec-card">
    <div class="container">
      <h1>优秀用户</h1>

      <hr />

        <div class="row">
         <div class="col-sm-10 col-sm-offset-1">
             <div class="col-md-4 col-sm-6">
                 <div class="card-container">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <img src="https://www.clipartsgram.com/image/129556292-kyz84k3.jpg"/>
                            </div>
                            <div class="user">
                                <img class="img-circle" src="https://www2.mmu.ac.uk/media/mmuacuk/style-assets/images/r-research/profile-Zeyad.jpg"/>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h3 class="name">John Marvel</h3>
                                    <p class="profession">CEO</p>
                                    <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                                </div>
                                <div class="card-footer">
                                    <i class="fa fa-mail-forward"></i> Auto Rotation
                                </div>
                            </div>
                        </div> <!-- end front panel -->
                        <div class="back">
                            <div class="header">
                                <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h4 class="text-center">Job Description</h4>
                                    <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>

                                    <div class="stats-container">
                                        <div class="stats">
                                            <h4>235</h4>
                                            <p>
                                                Followers
                                            </p>
                                        </div>
                                        <div class="stats">
                                            <h4>114</h4>
                                            <p>
                                                Following
                                            </p>
                                        </div>
                                        <div class="stats">
                                            <h4>35</h4>
                                            <p>
                                                Projects
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="social-links text-center">
                                    <a href="https://twitter.com/kerzzi123" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                    <a href="https://twitter.com/kerzzi123" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                    <a href="https://twitter.com/kerzzi123" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                                </div>
                            </div>
                        </div> <!-- end back panel -->
                    </div> <!-- end card -->
                </div> <!-- end card-container -->
            </div> <!-- end col sm 3 -->
    <!--         <div class="col-sm-1"></div> -->
            <div class="col-md-4 col-sm-6">
                 <div class="card-container manual-flip">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <img src="https://www.clipartsgram.com/image/124089475-california-beaches-tumblr-wallpaper-3.jpg"/>
                            </div>
                            <div class="user">
                                <img class="img-circle" src="http://www.outbrain.com/risingstars/wp-content/uploads/708x708-RS-Profile-Ashley-Callahan-400x400.jpg"/>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h3 class="name">Andrew Mike</h3>
                                    <p class="profession">Web Developer</p>
                                    <p class="text-center">"Lamborghini Mercy <br>Your chick she so thirsty <br>I'm in that two seat Lambo"</p>
                                </div>
                                <div class="card-footer">
                                    <button class="btn btn-simple" onclick="rotateCard(this)">
                                        <i class="fa fa-mail-forward"></i> Manual Rotation
                                    </button>
                                </div>
                            </div>
                        </div> <!-- end front panel -->
                        <div class="back">
                            <div class="header">
                                <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h4 class="text-center">Job Description</h4>
                                    <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>

                                    <div class="stats-container">
                                        <div class="stats">
                                            <h4>235</h4>
                                            <p>
                                                Followers
                                            </p>
                                        </div>
                                        <div class="stats">
                                            <h4>114</h4>
                                            <p>
                                                Following
                                            </p>
                                        </div>
                                        <div class="stats">
                                            <h4>35</h4>
                                            <p>
                                                Projects
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
                                    <i class="fa fa-reply"></i> Back
                                </button>
                                <div class="social-links text-center">
                                    <a href="http://kerzzi.logdown.com/" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                    <a href="http://kerzzi.logdown.com/" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                    <a href="http://kerzzi.logdown.com/" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                                </div>
                            </div>
                        </div> <!-- end back panel -->
                    </div> <!-- end card -->
                </div> <!-- end card-container -->
            </div> <!-- end col sm 3 -->
    <!--         <div class="col-sm-1"></div> -->
            <div class="col-md-4 col-sm-6">
                <div class="card-container">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <img src="http://www.hdimageson.com/wp-content/uploads/2016/05/beach-images-tumblr-300x188.jpg"/>
                            </div>
                            <div class="user">
                                <img class="img-circle" src="https://1.bp.blogspot.com/-aruLLVlXyJM/V_t-TxTncZI/AAAAAAAAJ3k/hnQKKVmKuOY_awf1nHGTsukGfw4qrde-gCLcB/s400/2.jpg"/>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h3 class="name">Inna Corman</h3>
                                    <p class="profession">Product Manager</p>

                                    <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                                </div>
                                <div class="card-footer">
                                    <div class="rating">
                                        <i class="fa fa-mail-forward"></i> Auto Rotation
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end front panel -->
                        <div class="back">
                            <div class="header">
                                <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h4 class="text-center">Job Description</h4>
                                    <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>

                                    <div class="stats-container">
                                        <div class="stats">
                                            <h4>235</h4>
                                            <p>
                                                Followers
                                            </p>
                                        </div>
                                        <div class="stats">
                                            <h4>114</h4>
                                            <p>
                                                Following
                                            </p>
                                        </div>
                                        <div class="stats">
                                            <h4>35</h4>
                                            <p>
                                                Projects
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="social-links text-center">
                                    <a href="http://kerzzi.logdown.com/" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                    <a href="http://kerzzi.logdown.com/" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                    <a href="http://kerzzi.logdown.com/" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                                </div>
                            </div>
                        </div> <!-- end back panel -->
                    </div> <!-- end card -->
                </div> <!-- end card-container -->
            </div> <!-- end col-sm-3 -->
            </div> <!-- end col-sm-10 -->
        </div> <!-- end row -->
    </div>
  </section>

<!-- 个人秀 -->

    <section id="about" class="sec-about">
      <div class="container">
        <h1>个人秀场</h1>

        <hr/>

          <div class="row">
              <div class="col-md-12" data-wow-delay="0.2s">
                  <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                      <!-- Bottom Carousel Indicators -->
                      <ol class="carousel-indicators">
                          <li data-target="#quote-carousel" data-slide-to="0" class="active"><img class="img-responsive " src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg" alt="">
                          </li>
                          <li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive" src="https://s3.amazonaws.com/uifaces/faces/twitter/rssems/128.jpg" alt="">
                          </li>
                          <li data-target="#quote-carousel" data-slide-to="2"><img class="img-responsive" src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg" alt="">
                          </li>
                      </ol>

                      <!-- Carousel Slides / Quotes -->
                      <div class="carousel-inner text-center">

                          <!-- Quote 1 -->
                          <div class="item active">
                              <blockquote>
                                  <div class="row">
                                      <div class="col-sm-8 col-sm-offset-2">

                                          <p> 一女生因上课迟到被罚操场跑圈，不料天下起雨，女生只得淋雨跑步。这时一个男生撑着伞到她身边，并把伞移到女生头顶一同跑步。女生瞬间脸就红了，低声说：“对不起，我有男朋友了。”男生沉思了一下，深情地对女生说：“要吗？这伞十块。”!</p>
                                          <small>隔壁老王</small>
                                      </div>
                                  </div>
                              </blockquote>
                          </div>
                          <!-- Quote 2 -->
                          <div class="item">
                              <blockquote>
                                  <div class="row">
                                      <div class="col-sm-8 col-sm-offset-2">

                                          <p>有一次，在商场看见俩年轻人吵架，女孩临走很平淡对男孩说“你全家包括你都是元素周期表51号元素！”然后我默默的掏出手机，发现有文化真特么可怕！ </p>
                                          <small>韩家公子</small>
                                      </div>
                                  </div>
                              </blockquote>
                          </div>
                          <!-- Quote 3 -->
                          <div class="item">
                              <blockquote>
                                  <div class="row">
                                      <div class="col-sm-8 col-sm-offset-2">

                                          <p>跟老婆闹了点矛盾，老婆回娘家了。我岳父打来电话，怒火冲天，你小子是不是跟我闺女闹别扭了？我告诉你，小子，这事儿没完！我正要解释，他啪一声挂了电话，赶紧打过去，他不接。没隔几分钟，连续几条信息发来，打开一看，哭笑不得！岳父：小子，刚故意说给他们听的，男人嘛，大度一些，多担待一点！岳母：别往心里去，小俩口过日子，难免磕磕碰碰，你爸说的气话，别往心里去！老婆：我爸发火了，好吓人，你别过来接我，我自己回去！!</p>
                                          <small>近战法师</small>
                                      </div>
                                  </div>
                              </blockquote>
                          </div>
                      </div>

                      <!-- Carousel Buttons Next/Prev -->
                      <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                      <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
                  </div>
              </div>
          </div>
      </div>
    </section>

  <section id="categories">
		<div class="container">
			<h1>项目分类</h1>

      <hr />
      <div class="row">
				<div class="col-sm-6 col-md-3">
			    <div class="thumbnail">
			      <%= image_tag("developer.png") %>
			      <div class="caption">
              <h4><%= link_to("Developer", "#") %></h4>
			      </div>
			    </div>
			  </div>

			  <div class="col-sm-6 col-md-3">
			    <div class="thumbnail">
			      <%= image_tag("customer-service.png") %>
			      <div class="caption">
              <h4><%= link_to("Customer Service", "#") %></h4>
            </div>
			    </div>
			  </div>

			  <div class="col-sm-6 col-md-3">
			    <div class="thumbnail">
			      <%= image_tag("healthcare.png") %>
			      <div class="caption">

              <h4><%= link_to("Health Care", "#") %></h4>
			      </div>
			    </div>
			  </div>

				<div class="col-sm-6 col-md-3">
			    <div class="thumbnail">
			      <%= image_tag("sales-marketing.png") %>
			      <div class="caption">

              <h4><%= link_to("Sales-Marketing", "#") %></h4>
			      </div>
			    </div>
			  </div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-3">
			   <div class="thumbnail">
			      <%= image_tag("lawyer.png") %>
			      <div class="caption">

              <h4><%= link_to("Legal", "#") %></h4>
			      </div>
			    </div>
			  </div>

			  <div class="col-sm-6 col-md-3">
			    <div class="thumbnail">
			      <%= image_tag("non-profit.png") %>
			      <div class="caption">
              <h4><%= link_to("Nonprofit", "#") %></h4>

			      </div>
			    </div>
			  </div>

			  <div class="col-sm-6 col-md-3">
			    <div class="thumbnail">
			      <%= image_tag("reunion.png") %>
			      <div class="caption">
              <h4><%= link_to("Human Resources", "#") %></h4>

			      </div>
			    </div>
			  </div>

				<div class="col-sm-6 col-md-3">
			    <div class="thumbnail">
			      <%= image_tag("design.png") %>
			      <div class="caption">
              <h4><%= link_to("Design", "#") %></h4>
			       
			      </div>
			    </div>
			  </div>
			</div>
		</div>

	</section>


<!-- 用户体验 -->

  <section id="testimonials" class="sec-testimonials">
    <div class="container">
      <h1>用户体验</h1>

      <hr />

      <div class="row">
        <div class="col-sm-4">
          <p class="text-center">"感谢扬帆社区让我遇到了这辈子最好的伙伴!找项目，组团队，娱乐微博来扬帆社区就够了。"</p>

          <p class="text-right">&mdash; Elizabeth</p>
        </div>

        <div class="col-sm-4">
          <p class="text-center">"在这里发出你的心声，让世界给你回声！收拾行李，寻找新的自己，加入我们吧!"</p>

          <p class="text-right">&mdash; Kerzzi</p>
        </div>

        <div class="col-sm-4">
          <p class="text-center">"哈哈！从没有这么高效率的创作，项目完成仅用了3个月时间。这简直不敢想象!"</p>

          <p class="text-right">&mdash; Jerry Lai</p>
        </div>
      </div>
    </div>
  </section>
