<h1> Edit a job </h1>

<%= simple_form_for [:admin, @job ] do |f| %>

<%= f.input :title, :label => "项目名称" %>
<%= f.input :description, :label => "项目描述" %>
<%= f.input :city, :label => "工作城市" %>
<%= f.input :company, :label => "团队名称" %>
<%= f.input :category, :label => "需求专业" %>
<%= f.input :is_hidden %>

  <%= f.submit "创建项目" %>
<% end %>
