<h1> Edit a job </h1>

<%= simple_form_for [:admin, @job ] do |f| %>

<%= f.input :title %>
<%= f.input :description %>
<%= f.input :is_hidden %>

  <%= f.submit "Submit" %>
<% end %>


<!-- <%= f.input :is_hidden %> 隐藏这句话实现必须网站管理员审核才能公开项目-->
